body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align:center;
}

nav {
  background-color: #10019b;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.content {
  padding: 2em;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

img {
  width: 354px;
  height: 472px;
  display : block;
  margin-left:auto;
  margin-right:auto;
}

.btn-gradient {
  background-image: linear-gradient(to right, #3801d1 0%, #1e037c 100%);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-gradient.small {
  padding: 6px 12px;
  font-size: 14px;
}

/* 링크를 버튼으로 */

.btn-update {
  display: inline-block;
  padding: 6px 12px;
  text-decoration: none;
  color: #fff;
  background-color: #1100a7;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-update:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.btn-update:active {
  background-color: #004080;
  transform: scale(0.95);
}

/* 프로젝트 리스트 */

.proj_list {
  text-decoration: none; 
  text-align: left;
  color: navy; 
  font-weight: bold; 
}

.proj_list:hover {
  text-decoration: underline; 
  color: #003366; 
}